beautifulsoup4==4.11.1
selenium==4.1.3
pandas==1.4.2
Pattern==3.6
fake-useragent==0.1.11
mysqlclient==2.1.0
setuptools
twine==4.0.0
Unidecode==1.3.4
cchardet==2.1.7
Scrapy==2.6.1
dotmap==1.3.30
requests_file==1.5.1
pymysql==1.0.2
psycopg2-binary==2.9.3
elasticsearch==8.1.3
hjson==3.0.2
webdriver-manager==3.5.4
newspaper3k==0.2.8
ews-please==1.5.22
torpy[requirements]>=1.1.6
search_engines @ https://github.com/sean-bailey/Search-Engines-Scraper/archive/refs/heads/master.zip