beautifulsoup4
selenium
pandas
pattern
fake_useragent
mysqlclient
setuptools
twine
unidecode
cchardet
scrapy
dotmap
requests_file
pymysql
psycopg2-binary
elasticsearch
hjson
webdriver_manager
newspaper3k
news-please
torpy[requirements]
search_engines @ https://github.com/sean-bailey/Search-Engines-Scraper/archive/refs/heads/master.zip